body {
    margin: 0;
    padding: 0;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11pt;
    color: #4F4F4F;
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted #4F4F4F;
}
a:hover {
    border-bottom-style: solid;
}
#modal {
    z-index: 9000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    display: none;
}
#modalDialog {
    z-index: 9001;
    width: 900px;
    height: 570px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -305px;
    margin-left: -470px;
    background-color: white;
    display: none;
    overflow: hidden;
}
#leftPanel {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    background: #45484d; /* old browsers */
    background: -moz-linear-gradient(left, #45484d 0%, #000000 100%); /* firefox */
    
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#45484d), color-stop(100%,#000000)); /* webkit */
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* ie */
    
    -moz-box-shadow:0px 0px 20px #000000;
    -webkit-box-shadow:0px 0px 20px #000000;
    box-shadow:0px 0px 20px #000000;
    
    z-index: 5;
}
#title {
    color: white;
    white-space: nowrap;
    /* rotate vertical */
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 24px;
    font-family: Georgia, serif;
    top: 50%;
    position: absolute;
    width: 400px;
    margin-left: -170px;
    text-align: center;
}
#leftPanelInfo {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-top: -240px;
    margin-left: 15px;
    background: url("../img/info.png");
}
#leftPanelOptions {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-top: 230px;
    margin-left: 15px;
    background: url("../img/options.png");
}
#rightPanel {
    position: fixed;
    left: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    /*background-color: white;*/
    z-index: 3;
}

.backgroundActivated #rightPanel {
    right: 350px;
    -moz-box-shadow:0px 0px 20px #000000;
    -webkit-box-shadow:0px 0px 20px #000000;
    box-shadow:0px 0px 20px #000000;
    background-color: white;
    z-index: 3
}

#timelineWrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: auto;
    z-index: 3;
}
#timeline {
    /*width: 100%;*/
    padding-top: 30px;
    padding-bottom: 30px;
}
/*.backgroundActivated #timeline {
    margin-right: 383px;
    -moz-box-shadow:0px 0px 20px #000000;
    -webkit-box-shadow:0px 0px 20px #000000;
    box-shadow:0px 0px 20px #000000;
}*/
#timelineInnerWrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
#timelineLeft {
    width: 87px;
    margin-left: 20px;
    height: 100%;
    float: left;
    border-right: 2px solid gray;
}
#timelineRight {
    float: left;
    height: 100%;
    padding-left: 30px;
}

div#backgroundContainer {
    z-index: 1;
    position: fixed;
    width: 350px;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#background, #background2 {
    z-index: 1;
    position: absolute;
}
img.background {
    width: 350px;
}

.panelDate {
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid white;
    margin-bottom: -2px;
}
.timelineDate {
    text-align: right;
    /*border-top: 1px solid gray;
    border-bottom: 1px solid white;
    margin-bottom: -2px;*/
    position: absolute;
    width: 75px;
    margin-top: 8px;
    
    /* rotate left 30 degrees */
    -moz-transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
}
.chrome .timelineDate {
    font-weight: 600;
    letter-spacing: 0.5px;
}
.timelineDate:after {
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: gray;
    content: "";
    top: 20px;
    
    /* rotate back to normal */
    -moz-transform: scale(1) rotate(30deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(30deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(30deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(30deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(30deg) translate(0px, 0px) skew(0deg, 0deg);
}
.timelineDateBreak:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url('../img/break.png') no-repeat;
    top: 5px;
}

.timelineEvent {
    float: left;
    position: absolute;
    margin-top: -2px;
}
.timelineEventMarker {
    width: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border: 1px solid gray;
    -moz-box-shadow:0px 0px 3px #000000;
    -webkit-box-shadow:0px 0px 3px #000000;
    box-shadow:0px 0px 3px #000000;
    background-color: #ffc600;
    float: left;
}
.timelineEventInfoWrapper {
    float: left;
    margin-left: 0px;
    margin-top: 4px;
    padding-left: 50px;
    border-top: 2px solid gray;
}
.timelineEventInfo {
    /*background-color: #fffdc1;*/
    
background: #fefcea; /* old browsers */
background: -moz-linear-gradient(top, #fefcea 0%, #EFE499 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#EFE499)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#EFE499',GradientType=0 ); /* ie */

-webkit-box-shadow: 3px 3px 6px #545454;
-moz-box-shadow: 3px 3px 6px #545454;
box-shadow: 3px 3px 6px #545454;

    width: 320px;
    float: right;
    padding: 2px 3px 4px 10px;
    cursor: pointer;
    height: 24px;
    margin-bottom: 10px;
    overflow: hidden;
    
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}
.timelineEventTitle {
    font-size: 16pt;
    font-family: Georgia, serif;
    font-variant: small-caps;
    display: inline-block;
    float: left;
}
.timelineEventTitle.hasIcon {
    
}
.timelineEventDate {
    font-size: 10pt;
    margin-top: 3px;
    position: absolute;
    left: 0px;
    top: 14px;
    letter-spacing: -1px;
}

#modalDialogHeader {
    width: 880px;
    height: 24px;
    border-bottom: 1px solid gray;
    padding: 0px 10px 6px 10px;
    margin-bottom: 10px;
}
#modalDialogTitle {
    display: inline;
    font-size: 20px;
    font-family: Georgia, serif;
}
#modalDialogDate {
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 20px;
    margin-left: 12px;
    border-left: 2px solid gray;
    padding-left: 12px;
}
#modalDialogVideo {
    width: 640px;
    height: 390px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}
#modalDialogVideo iframe {
    width: 640px;
    height: 390px;
}
#modalDialogDescription {
    float: left;
    margin-left: 10px;
    border-left: 1px solid gray;
    padding-left: 10px;
    width: 239px;
    height: 390px;
    margin-bottom: 10px;
    overflow-y: auto;
}
#modalDialogDescription p {
    margin-top: 0;
}
#modalDialogTabsContainer {
    clear: both;
    border-top: 1px solid gray;
    padding-top: 10px;
    width: 900px;
    height: 434px;
}
#modalDialogLinks, #modalDialogSources {
    float: left;
    width: 790px;
    background-color: white;
    height: 100px;
    overflow-y: auto;
    border: 1px solid gray;
    padding: 10px;
    position: absolute;
    left: 107px;
}
#modalDialogLinks ul, #modalDialogSources ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
#modalDialogLinks ul li, #modalDialogSources ul li {
    display: block;
}
#modalDialogTabs {
    width: 87px;
    float: left;
    text-align: right;
}
#modalDialogTabLinks, #modalDialogTabSources {
    cursor: pointer;
    width: 60px;
    margin-left: 10px;
    text-align: right;
    border: 1px solid gray;
    padding: 8px;
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-radius:5px 0px 0px 5px;
    border-radius:5px 0px 0px 5px;
}
#modalDialogTabLinks.active, #modalDialogTabSources.active {
    width: 70px;
    margin-left: 0;
}

.videoIcon {
    float: left;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../img/video.png');
    margin-right: 6px;
}